.container {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    --extra-width: 120px;
}

.textContainer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    min-width: calc(100% - var(--extra-width));
    cursor: pointer;
    height: 100%;
    flex: 1;
}

.drag {
    padding: 10px;
    cursor: grab;
}

.title {
    padding-right: 10px;
    font-weight: bold;
}

.subTitle {
    padding-right: 10px;
    font-style: italic;
}

.description {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
}

.description.open{
    white-space: normal;
}

.extra {
    color: var(--border-color);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
}

.extra:hover,
.selected {
    color: var(--secondary-background-color);
}
