.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

.container:hover input ~ .checkMark {
    background-color: #ccc;
}

.container input:checked ~ .checkMark {
    background-color: var(--secondary-background-color);
}

.checkMark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkMark:after {
    display: block;
}

.container .checkMark:after {
    left: 6px;
    top: 2px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
