.container {
    width: 100%;
    display: flex;
    min-height: 100px;
    flex-direction: column;
    color: var(--main-typography-color);
    align-items: center;
    justify-content: center;
}

.text {
    padding: 30px;
    display: flex;
}
